<div class="container">
  <div class="row">
    <p class="h1 fw-bold text-center">Nedeljni prikaz</p>
  </div>
</div>

<div class="container bg-light border">
  <div class="row mb-3">
    <div class="col-12 d-flex justify-content-between">
      <button
        class="btn btn-primary fw-bold fs-5"
        (click)="prethodni()"
        [disabled]="!(index > 0)"
      >
        Prethodni
      </button>
      <button
        class="btn btn-primary fw-bold fs-5"
        (click)="sledeci()"
        [disabled]="!(index + 1 < termini.length)"
      >
        Sledeći
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-1 fw-bold fs-5">Vreme</div>
    <div class="col fw-bold fs-5">Ponedeljak</div>
    <div class="col fw-bold fs-5">Utorak</div>
    <div class="col fw-bold fs-5">Sreda</div>
    <div class="col fw-bold fs-5">Četvrtak</div>
    <div class="col fw-bold fs-5">Petak</div>
    <div class="col fw-bold fs-5">Subota</div>
    <div class="col fw-bold fs-5">Nedelja</div>
  </div>
  <div class="row" *ngFor="let termin of sedmica | keyvalue">
    <div class="col-1 fw-bold fs-5">{{ termin.key }}</div>
    <div class="col" *ngFor="let dan of termin.value | keyvalue">
      <app-termin *ngIf="dan.value" [termin]="dan.value" />
    </div>
  </div>
</div>
