<nav class="navbar navbar-expand-sm bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light fw-bold fs-4" href="javascript:void(0)"
          >Ordinacija</a
        >
      </li>

      <li class="nav-item" *ngIf="jeDoktor() && !jePacijent()">
        <a
          class="nav-link text-light fs-4"
          routerLink="/doktor/nedeljni-prikaz"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Nedeljni prikaz</a
        >
      </li>

      <li class="nav-item" *ngIf="jeDoktor() && !jePacijent()">
        <a
          class="nav-link text-light fs-4"
          routerLink="/doktor/dnevni-prikaz"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dnevni prikaz</a
        >
      </li>

      <li class="nav-item" *ngIf="!jeDoktor() && jePacijent()">
        <a
          class="nav-link text-light fs-4"
          [routerLink]="['/termini', vratiJmbg()]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Termini</a
        >
      </li>

      <li class="nav-item" *ngIf="jeDoktor() || jePacijent()">
        <a
          class="nav-link text-light fs-4"
          routerLink="/zakazivanje"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Zakazivanje</a
        >
      </li>

      <li class="nav-item" *ngIf="jeDoktor() || jePacijent()">
        <a
          class="nav-link text-light fs-4"
          routerLink="/odjava"
          routerLinkActive="odjava"
          ariaCurrentWhenActive="page"
          >Odjava</a
        >
      </li>
    </ul>
  </div>
</nav>
