<div class="container">
  <div class="row">
    <p class="h1 fw-bold text-center">Dnevni prikaz</p>
  </div>
</div>

<div class="container bg-light border">
  <div class="row mb-3">
    <div class="col d-flex justify-content-between">
      <button
        class="btn btn-primary fw-bold fs-5"
        (click)="prethodni()"
        [disabled]="termini && !(index > 0)"
      >
        Prethodni
      </button>
      <button
        class="btn btn-primary fw-bold fs-5"
        (click)="sledeci()"
        [disabled]="termini && !(index + 1 < termini.length)"
      >
        Sledeći
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-1 fw-bold fs-5">Vreme</div>
    <div class="col-11 fw-bold fs-5">Termin</div>
  </div>
  <div class="row" *ngFor="let termin of danas | keyvalue">
    <div class="col-1 fw-bold fs-5">{{ termin.key }}</div>
    <div class="col-11">
      <app-termin *ngIf="termin.value" [termin]="termin.value" />
    </div>
  </div>
</div>
