<div class="card">
  <div class="card-header">
    <div class="card-text fw-bold">
      {{ termin.vreme | date : "dd.MM.yyyy. HH:mm" }}
    </div>
  </div>
  <div class="card-body">
    <div class="card-text">
      <span class="fw-bold">JMBG</span>: {{ termin.jmbg }}
    </div>
    <div class="card-text">
      <span class="fw-bold">Ime i prezime</span>: {{ termin.ime }}
      {{ termin.prezime }}
    </div>
    <div class="card-text">
      <span class="fw-bold">Broj telefona</span>: {{ termin.brTelefona }}
    </div>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-danger fw-bold fs-5"
      type="button"
      (click)="otkaziTermin()"
    >
      Otkaži
    </button>
  </div>
</div>
